<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PictureList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <PictureList.Properties.Settings>
            <setting name="StartDir" serializeAs="String">
                <value>探索するフォルダ名</value>
            </setting>
            <setting name="MaskString" serializeAs="String">
                <value>*.*</value>
            </setting>
            <setting name="IsLastWriteTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCreationTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsLastAccessTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAttribute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutPutType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value>保存するフフォルダ名</value>
            </setting>
            <setting name="IsIncludeSubDir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMaskDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsExif" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExifExtAllExt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsChkExifMainExt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsChkExifSubExt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsChkExifTextExt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExifTextExt" serializeAs="String">
                <value>CR3,MFW,X3F,SRW,RWL,SR2,SRF</value>
            </setting>
            <setting name="ExifToolUse" serializeAs="String">
                <value>0</value>
            </setting>
        </PictureList.Properties.Settings>
    </userSettings>
</configuration>
